body {
	background-color: #6699ff;
}

#text {
	font-family: Helvetica;
	font-size: 30pt;
	font-weight: bold;
	color: white;
	position: absolute;
	left: 46.5%;
	top: 28%;
}

#cypher {
	font-family: Helvetica;
	font-size: 30pt;
	font-weight: bold;
	color: white;
	position: absolute;
	top: 40%;
	left: 45%;
}

#credit {
	font-family: Helvetica;
	font-size: 8pt;
	font-weight: bold;
	color: white;
	position: absolute;
	top: 98%;
}

#temple {
	height: 30%;
	width: 30%;
	position: absolute;
	left: 35%;
}

#enc_string {
	font-family: Helvetica;
	font-size: 20pt;
	font-weight: bold;
	color: white;
	position: absolute;
	top: 65%;
	left: 45%;
}

input[type = "submit"]{
	font-family: Helvetica;
	font-weight: bold;
	font-size: 12.5;
	border-radius: 2px 2px 2px 2px;
	color:#757575;
	background-color: white;
	height: 35px;
	width: 150px;	
	border-style: none;
	position: absolute;
	bottom: 35%;
	left: 45%;
}

input[type = "text"]{
	font-family: Helvetica;
	font-weight: bold;
	font-size: 12.5;
	border-radius: 2px 2px 2px 2px;
	color:#757575;
	background-color: white;
	height: 35px;
	width: 350px;	
	border-style: none;
	position: absolute;
	bottom: 56%;
	left: 39%;
}

input[type = "number"]{
	font-family: Helvetica;
	font-weight: bold;
	font-size: 12.5;
	border-radius: 2px 2px 2px 2px;
	color:#757575;
	background-color: white;
	height: 30px;
	width: 100px;	
	border-style: none;
	position: absolute;
	bottom: 43%;
	left: 48%;
}