<!DOCTYPE html>
<html>
	<head>
		<title>Caesar Cypher</title>
		<link href="<%= url('/masterstyle.css') %>" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<h1>Mastermind</h1>
		<p id = "guess">Guess the order and the color of the four colored circles</p>
		<p>Color of the first one</p>
		<p>Color of the second one</p>
		<p>Color of the third one</p>
		<p>color of the fourth one</p>
	</body>
</hthm>
