<!DOCTYPE html>
<html>
	<head>
		<title>Mastermind(nub haxors)</title>
		<link href="<%= url('/masterstyle.css') %>" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<h1>1337 haxor test</h1>
		<p id = "guess">u have 12 guesses b4 teh FBI party van shows up at ur location glhf</p>

		<form>
			<input type = 'text' name = 'code'/>
			<input type = 'submit' value = 'start over'/>
		</form>
	</body>
</hthm>
