<!DOCTYPE html>
<html>
	<head>
		<title>Mastermind(nub haxors)</title>
		<link href="<%= url('/masterstyle.css') %>" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<h1>1337 haxor test</h1>
		<p id = "guess">u have 12 guesses b4 teh FBI party van shows up at ur location glhf</p>

		<div><a href="/new">Start Over</a></div>
		<div><p>Guesses Left:</p></div>
		<div><p><%= guess_no %></p></div>
		<form method = "POST" action = "/">
			<input type = 'text' name = 'code' min = "0000" max = "9999" size = "4"/>
		</form>
	</body>
</hthm>
