<!DOCTYPE html>
<html>
	<head>
		<title>Caesar Cypher</title>
		<link href="<%= url('/masterstyle.css') %>" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<p id = "guess">Put in a guess red, yellow</p>
	</body>
</hthm>
