<!DOCTYPE html>
<html>
	<head>
		<title>Mastermind(nub haxors)</title>
		<link href="<%= url('/masterstyle.css') %>" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<p id = "lose">gg wp srub the FBI are outisde get the thermite and destroy your drive</p>
	</body>
</hthm>