<!DOCTYPE html>
<html>
	<head>
		<title>Mastermind(nub haxors)</title>
		<link href="<%= url('/masterstyle.css') %>" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<p id = "win">You hacked the illuminati the dank memes are yours</p>
	</body>
</hthm>
