<html>
	<head></head>
	<body>
		<p>
			Input the text you want encrypted and the shift factor.
		</p>
		<form>
			<input type = 'text' name = 'string'/>
			<input type = 'submit' value = 'shift'>
		</form>
			<p><%= enc_string %></p>
	</body>
</hthm>
